/* --- LOGOS ARRIBA --- */
.logos-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  position: absolute;
  top: 0;
}

.logo-izq, .logo-der {
  height: 80px;
}


/* --- GENERAL --- */
.rosco-container {
  background: black;
  min-height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-top: 120px;
}

/* --- NOMBRE --- */
.nombre-container {
  margin-top: 180px;
  background: #222;
  padding: 30px;
  border-radius: 15px;
  text-align: center;
}

.nombre-container input {
  padding: 10px;
  width: 250px;
  margin-top: 10px;
}

.btn-nombre {
  margin-top: 15px;
  padding: 10px 20px;
  background: #2ecc71;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}


/* --- ROSCO LETRAS --- */
.rosco {
  position: relative;
  width: 450px;
  height: 450px;
  margin-top: 40px;
}

.letra {
  width: 45px;
  height: 45px;
  background: #3498db;
  border-radius: 50%;
  border: 3px solid white;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
}

.letra.actual {
  box-shadow: 0 0 15px 5px yellow;
}

.letra.correcto {
  background: #2ecc71 !important;
}

.letra.incorrecto {
  background: #e74c3c !important;
}

.letra.pasapalabra {
  background: #f39c12 !important;
}

/* --- PANEL PREGUNTAS --- */
.panel-pregunta {
  margin-top: 30px;
  background: #111;
  padding: 30px;
  border-radius: 20px;
  width: 500px;
  text-align: center;
}

.panel-pregunta input {
  width: 80%;
  padding: 10px;
  margin-top: 15px;
}

.botones {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.btn-responder {
  background: #2ecc71;
  padding: 10px 25px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.btn-pasa {
  background: #e67e22;
  padding: 10px 25px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
