/* LOGOS LATERALES DURANTE EL JUEGO Y FINAL */
.logo-left {
  position: fixed;
  left: 20px;
  top: 20px;
  width: 120px;
}

.logo-right {
  position: fixed;
  right: 20px;
  top: 20px;
  width: 120px;
}

/* PANTALLA DE INICIO */
.pantalla-inicio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: white;
  background: #0a182e;
}

.titulo-inicio {
  font-size: 3rem;
  margin-bottom: 15px;
}

.input-nombre {
  padding: 12px;
  border-radius: 8px;
  width: 260px;
  font-size: 1.2rem;
  margin-top: 15px;
}

.btn-iniciar {
  background: #e63946;
  color: white;
  padding: 12px 25px;
  border-radius: 10px;
  margin-top: 20px;
}

/* TIMER */
.timer {
  margin-top: 80px;
  font-size: 2.2rem;
  font-weight: bold;
  color: #e63946;
}

/* CONTENEDOR PRINCIPAL */
.contenedor-juego {
  text-align: center;
  padding-top: 40px;
  color: white;
}

/* ROSCO */
.rosco {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 0 auto;
}

.letra {
  position: absolute;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #a8dadc;
  color: #1d3557;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.correcta {
  background: #4caf50 !important;
  color: white;
}

.incorrecta {
  background: #d62828 !important;
  color: white;
}

.pasapalabra {
  background: #ff9800 !important;
  color: white;
}

/* PREGUNTA */
.pregunta-box {
  margin-top: 35px;
  background: none !important;
  box-shadow: none !important;
  border: none !important;
  padding: 10px;
}

.pregunta-box h3 {
  color: #ffffff !important;
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 8px;
}

.pregunta-texto {
  font-size: 1.6rem;
  font-weight: 600;
  color: #ffffff !important; /* TEXTO BLANCO */
  text-shadow: 2px 2px 4px rgba(0,0,0,0.6);
  margin-bottom: 10px;
}

/* INPUT */
.input-respuesta {
  padding: 10px;
  width: 60%;
  font-size: 1.1rem;
  border-radius: 10px;
  border: 1px solid #ccc;
}

/* BOTONES */
.botones {
  margin-top: 15px;
}

.btn-responder {
  background: #1d3557;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
}

.btn-pasa {
  background: #ff9800;
  color: white;
  padding: 10px 20px;
  margin-left: 10px;
  border-radius: 10px;
}

/* PANTALLA FINAL */
.pantalla-final {
  text-align: center;
  padding-top: 120px;
  color: white;
}

.verde { color: #4caf50; font-weight: bold; }
.rojo { color: #ff4d4d; font-weight: bold; }

.btn-reiniciar {
  margin-top: 20px;
  padding: 12px 25px;
  background: #457b9d;
  color: white;
  border-radius: 10px;
}