.rosco-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
  background: #000;
  min-height: 100vh;
}

.logo {
  width: 120px;
  margin-top: 20px;
}

.inicio input {
  padding: 10px;
  font-size: 16px;
}

.inicio button {
  padding: 10px 20px;
  margin-top: 10px;
}

.rosco-juego {
  margin-top: 30px;
}

.rosco {
  position: relative;
  width: 300px;
  height: 300px;
  margin-bottom: 20px;
}

.letra {
  position: absolute;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}

.letra.activa {
  background: #0a0;
  color: #fff;
  font-weight: bold;
}

.pregunta {
  background: #111;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
}
