/* Fondo general */
body { 
  margin: 0; 
  font-family: Inter, Arial, sans-serif; 
  background: linear-gradient(180deg,#071029,#020617); 
  color: #e0e0e0;   /* CAMBIO de blanco → gris claro visible */
}

/* Botones por defecto */
button { 
  cursor: pointer; 
  border: none; 
}
